@use "../../../../../styles/fonts.scss";
.custom-button
{
    border:0;
    padding:10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:10px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    @extend .inter-font;
}