<section class="review">
    <div class="review-info">
        <div class="reviewer-photo">
            <img [src]="review().reviewerPhoto" width="20" alt="">
        </div>
        <div class="reviewer-details">
            <p>{{review().reviewerName}}</p>
            <span>{{review().reviewerRole}}</span>
        </div>
    </div>
    <div class="reviewer-desc">
        <p>{{review().reviewerDescription}}</p>
        <div class = "rating-review">
            <app-rating [ratingNum]="review().reviewerRate" />
            <img src="images/img14.svg" alt="">
        </div>
    </div>
</section>
