@import '../../../../../../styles/fonts.scss';
.review
{
    background-color: #fff;
    padding: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius:100px;
    border-top-right-radius:100px;
    border-bottom-left-radius:100px;
    &-info
    {
        display: flex;
        align-items: center;
        gap:20px;
        .reviewer-photo
        {
            img
            {
                width: 60px;
            }
        }
        .reviewer-details
        {
            p
            {
                color:var(--secondary-color);
                text-transform: capitalize;
                @extend .inter-font;
                font-size: 1.1rem;
                font-weight: 600;
            }
            span
            {
                font-weight: 600;
                text-transform: capitalize;
                @extend .inter-font;
                font-size: 1rem;
                color:var(--main-color);
            }
        }
    }
    .reviewer-desc
    {
        margin-top: 20px;
        border-top:1px solid var(--grey-color);
        padding:20px 20px 0;
        p
        {
            color:var(--grey-color);
            text-transform: capitalize;
            @extend .inter-font;
            font-size: 0.9rem;
            font-weight: 500;
            line-height:25px;
            text-align: justify;
        }
        .rating-review
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            img
            {
                width:80px;
            }
        }
    }
}