<div class="special-gift-slider">
  <div class = "gift-slider-container">
    <owl-carousel-o [options]="customOptions">
        @for (image of specialGift().images; track image) {
            <ng-template carouselSlide [id]="image">
              <img [src]="image" />
            </ng-template>
        }
    </owl-carousel-o>
    <div class="details">
      <div class="sub-title">
          {{specialGift().subTitle}}
      </div>
      <div class="title" [innerHTML]="specialGift().title"></div>
      <div class="desc">
          {{specialGift().description}}
      </div>
      <app-button 
        [buttonInfo]="buttonInfo"
      />
    </div>
</div>
</div>
