@use "../../../../../../styles/fonts.scss";
::ng-deep .special-gift-slider
{
    // padding-left: 7px;
    .gift-slider-container
    {
        position: relative;
    }
    .owl-item
    {
        img
        {
            width:100%;
            border-radius: 15px;
            height:521px !important;
        }
    }
    .owl-dots
    {
        left: 50%;
        bottom: 3%;
        position: absolute;
        z-index: 9999999;
        transform: translateX(-50%);
        // display: flex;
        // gap:13px;
        .owl-dot
        {
            span
            {
                background-color:var(--main-color);
                width:12px !important;
                height:12px !important;
                transition: .4s !important;
                border-radius:50%;
            }
            &:hover
            {
                span
                {
                    background-color: var(--main-color) !important;
                }
            }
            &.active
            {
                span
                {
                    width:30px !important;
                height:12px !important;
                border-radius:20px;
                background-color: var(--main-color) !important;
                }
            }
        }
    }
    .owl-nav
    {
        position: absolute;
        bottom: 3%;
        right: 15%;
        display: flex;
        gap:20px;
        @media all and (min-width:769px) and (max-width:991px)
        {
            bottom:10%;
        }
        @media all and (max-width:600px)
        {
            bottom:10%;
        }
    }
    .owl-prev , .owl-next
    {
        width:40px !important;
        height:40px !important;
        border-radius:50% !important;
        background-color:#fff !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        i
        {
            color:var(--grey-color);
            font-size: 25px;
        }
    }
    .details
    {
        position: absolute;
        top:10%;
        left:5%;
        z-index: 999;
        // width: 100%;
        .sub-title
        {
            color:var(--main-color);
            text-transform: uppercase;
            letter-spacing: 3px;
            @extend .inter-font;
            font-weight: bold;
            font-size: 1.5rem;
            margin-right: 30px;
        }
        .title
        {
            color:var(--secondary-color);
            text-transform:capitalize;
            @extend .inter-font;
            font-weight: bold;
            font-size: 2.9rem;
            width: 400px;
            line-height:55px;
            margin:15px 0;
            @media all and (max-width:500px)
            {
                line-height:40px;
                font-size:2rem;
                width: calc(100% - 15px);
            }
        }
        .desc
        {
            color:var(--secondary-color);
            text-transform:capitalize;
            @extend .inter-font;
            font-weight: 500;
            font-size: 1.2rem;
            width: 400px;
            margin:10px 0 20px;
            @media all and (max-width:500px)
            {
                font-size:1rem;
                width: calc(100% - 15px);
            }
        }
    }
}
::ng-deep .gifts-span
{
    color:var(--main-color) !important;
}