:root{
    --main-color:#F82BA9;
    --black-color:#000000;
    --white-color:#ffffff;
    --secondary-color:#160E4B;
    --grey-color:#757F95;
    --purple-color:#8C52FF;
    --orange-color:#F05454;
    --light-pink:#FEEDF7;
    --main-font-size:2rem;
}