<header class="flex flex-row justify-between align-item-center mt-4">

    <div class="ml-[18.25px] md:ml-20 md:w-[86px] md:h-[86px] w-[54px] h-[54px] flex flex-row ">
        <img class="w-auto " src="images/Logo.png" alt="logo">
    </div>
    <div class="flex flex-col md:flex md:flex-row invisible md:visible w-0 md:w-auto font-medium text-base">
       <ul class="flex flex-row gap-6 justify-center items-center">
        <li>
            <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a routerLink="/categories" routerLinkActive="active">All Category</a>
        </li>
        <li>
            <a routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li>
            <a routerLink="/content" routerLinkActive="active">Contact</a>
        </li>
       </ul>
    </div>

    <div class="mr-[16px] md:mr-20 flex md:flex-row ">
        <ul class="flex flex-row gap-1 justify-center items-center">
            <li class="w-[40px]">
                <a>
                    <img src="icons/search.png" alt="search">
                </a>
            </li>
            <li class="w-[40px]">
                <a>
                    <img src="icons/heart.png" alt="heart">
                </a>
            </li>
            <li class="w-[40px]">
                <a>
                    <img src="icons/bag.png" alt="bag">
                </a>
            </li>
            <li class="w-[40px] md:invisible">
                <a (click)="menuClick()" >
                    <img src="/icons/align-right.png" alt="menubar">
                </a>
            </li>
        </ul>
    </div>
    @if(menuBar){

    <div class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-80 z-40">

        <div class="w-[235px] h-[306px] flex flex-col justify-start items-start bg-white ">
            <div class="ml-4 mt-6 flex flex-row justify-between items-center w-full m-0 p-0">
                <img class="w-[54px] h-[54px]" src="images/Logo.png" alt="logo">
                <div class="mr-[24px] w-[35px] h-[35px] flex justify-center items-center border rounded-full border-[#00000014]">
                    <a (click)="menuClick()" class=" ">
                        <i class="fa-solid fa-xmark w-[13.5px] h-[19px] "></i>
                    </a>  
                </div>          
            </div>
            <div class="flex flex-col mt-4 ml-4 font-medium text-base">
               <ul class="flex flex-col gap-6">
                <li>
                    <a routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a routerLink="/category" routerLinkActive="active">All Category</a>
                </li>
                <li>
                    <a routerLink="/about" routerLinkActive="active">About</a>
                </li>
                <li>
                    <a routerLink="/content" routerLinkActive="active">Contact</a>
                </li>
               </ul>
            </div>
        </div>
    </div>
    }
</header>
