
@if (steps() == 1) {
<div class="flex justify-center h-[100vh] items-center">
  <app-forgetpassword class="w-[60%]"></app-forgetpassword>
</div>
}@else if (steps() ==2 ) {

    <div class="flex justify-center h-[100vh] items-center">
        <app-verifycode class="w-[60%]"></app-verifycode>
      </div>
}@else if (steps() == 3 ) {

    <div class="flex justify-center h-[100vh] items-center">
        <app-resetpassword class="w-[60%]"></app-resetpassword>
      </div>
}
@else if (steps() == 4 ) {

    <app-loginpage></app-loginpage>
}

