/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';



:root{
    --main-s-circle:32px;
    --main-m-circle:65px;
    --main-s-m-circle:42px;
    --main-lg-circle:90px;
    --main-color:#F82BA9;
    --main-color-basket:#8C52FF;
    --secand-color:#FEEDF7;
    --main-section-margin-x:80.5px;
    --main-shadow: 0 1px 10px 0 rgb(0 0 0 / 0.05);
    --secand-text-color:#757F95;
    }

 